.search{
    flex: 0.4;
    margin: 30px 30px;
}

.input{
    border: none;
    background-color: #f6f6f6;
    /* padding: 15px 30px; */
    width: 82%;
    height: 40px;
    padding: 5px;
}
button{
    height: 50px;
    border: none;
    background-color: lightgray;
}

@media (max-width: 542px){
    .input{
        width: 78%;
    }
}