*{
  margin: 0;
}
.App{
  display: flex;
  flex-direction: column;
}
.title{
  padding: 20px 0px 0px 15px;
}
.title{
  color: rgb(214, 76, 76);
}
.weatherInfo{
  display: flex;
}
.info{
  flex: 0.4;
}
.weatherForecast{
  flex: 0.6;
}

@media (max-width: 1025px){
  .weatherInfo{
    display: block;
  }
  .info{
    flex: 1;
  }
  .weatherForecast{
    margin-top: 30px;
    flex: 1;
  }
}